<%- include('layouts/header-index') %> 
<%- include('layouts/navbar-index') %> 

    <section class="herobwa mt-5">
        <div class="container">
            <div class="row">
                <div class="col align-self-center">
                    <h1 class="mb-4">Ship and Pirates</h1>
                    <p class="mb-4">Kami sedang merekrut Anggota atau Kru baru untuk bergabung bersama kami dan berjuang di kapal kami untuk mencari Harta Karun bernama "Satu Buah"</p>
                    <a class="btn btn-primary" href="/pirates" role="button">Telusuri</a>
                </div>
                <div class="col d-none d-sm-block">
                    <img width="600" src="https://www.pngall.com/wp-content/uploads/2016/06/Pirate-Free-Download-PNG.png" width="100" alt="">
                </div>
            </div>
        </div>
    </section>

<%- include('layouts/footer-index') %> 