<%- include('layouts/header-index') %> 
<%- include('layouts/navbar-index') %> 

    <section class="herobwa mt-5">
        <div class="container">
            <div class="row">
                <div class="col align-self-center">
                    <h1 class="mb-4">Book Store</h1>
                    <p class="mb-4">Kami menyediakan buku untuk yang dapat di baca maupun di jual di Toko Gramedia maupun Perpustakaan terdekat</p>
                    <a class="btn btn-primary" href="/books" role="button">Telusuri</a>
                </div>
                <div class="col d-none d-sm-block">
                    <img width="600" src="https://github.com/rifkiramadhan/become-frontend-developer/blob/master/css-bt-4/latihan2/images/hero-icon.png?raw=true" alt="">
                </div>
            </div>
        </div>
    </section>

<%- include('layouts/footer-index') %> 