<nav class="navbar py-4 navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="https://github.com/rifkiramadhan/become-frontend-developer/blob/master/css-bt-4/latihan2/images/logo.png?raw=true" width="187" alt="Logo Productly">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active align-self-center">
                    <a class="nav-link" href="/books/add">Add Book <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item align-self-center">
                    <a class="nav-link" href="/authors/add">Add Author</a>
                </li>
                <li class="nav-item align-self-center">
                    <a class="nav-link" href="/authors">Author</a>
                </li>
                <li class="nav-item align-self-center">
                    <a class="nav-link" href="#">Resources</a>
                </li>
                <a class="btn px-4 btn-secondary ml-5" href="#" role="button">Sign In</a>
                <a class="btn px-4 btn-primary ml-2" href="#" role="button">Sign Up</a>

            </ul>
        </div>
    </div>
</nav>
