<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author and Book</title>

    <!-- My Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- My CSS -->
    <link rel="stylesheet" href="https://github.com/rifkiramadhan/become-frontend-developer/blob/master/css-bt-4/latihan2/css/custom.css">

    <!-- My Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap" rel="stylesheet">

    <!-- MY Internal CSS -->
    <style>
        .btn-primary {
            background: #FF9900;
            border: 0;
            padding: 15px 40px 15px 40px;
            font-size: 16px;
            font-weight: bold;
        }

        .btn-primary:hover {
            background: rgb(219, 133, 4);
            border: 0;
        }

        .btn-secondary {
            background: none;
            border: 1px solid #BCD0E5;
            padding: 15px 40px 15px 40px;
            font-size: 16px;
            font-weight: bold;
            color: #173A56;
        }

        .btn-secondary:hover {
            background: none;
            border: 1px solid rgb(159, 177, 197);
            color: #173A56;
        }

        .herobwa h1 {
            font-family: 'Poppins';
            font-weight: 700;
            color: #2F281E;
        }

        .herobwa p {
            font-family: 'Poppins';
            font-weight: 400;
            color: #2F281E;
        }

        .navbar-nav .nav-link {
            color: #2F281E;
        }

        @media only screen and (max-width: 768px) {
            .btn-primary,
            .btn-secondary {
                margin-top: 10px;
                margin-left: 0 !important;
            }
        }
    </style>
</head>
<body>